body{
  background-color: #4343F9;
  margin: 0px;
  padding: 0px;

}

button{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 240px;
height: 360px;
color: #fff;
background-color: #4343F9;
font-family: 'Montserrat', sans-serif;
font-size: 24px;
border-radius: 4px;
border: none;
}


#c1, #c2, #c3, #c4{
display: flex;
position: absolute;
border-radius: 50%;
width: 40px;
height: 40px;
border: none;
}

#c1{
  left: 50.5%;
  transform: translate(-50%,-50%);
  margin-top: 35px;

}

#c2{
  left: 98%;
  bottom: 50%;
  transform: translateX(-100%);
  margin-bottom: -15px;

}

#c3{
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  margin-bottom: 10px;

}
#c4{
  bottom: 50%;
  margin-left: 20px;
}

.elements{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background-color: #4343F9;
}